# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                        @ydesgagn

# build/deploy related files

.github/                 @ydesgagn
.gitignore               @ydesgagn
.hadolint.yaml           @ydesgagn
.markdownlint.yml        @ydesgagn
.rubocop.yml             @ydesgagn
.ruby-version            @ydesgagn
.yamllint.yml            @ydesgagn
bin/                     @ydesgagn
lib/                     @ydesgagn
Dockerfile               @ydesgagn
