# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                        @ydesgagn

# build/deploy related files

.github/*                @ydesgagn
.gitignore               @ydesgagn
.markdownlint.yml        @ydesgagn
.rubocop.yml             @ydesgagn
.soup.json               @ydesgagn
.yamllint.yml            @ydesgagn
codeowners               @ydesgagn
readme.md                @ydesgagn
bin/*                    @ydesgagn
docs/*                   @ydesgagn
lib/*                    @ydesgagn
