# github-build --organization Cloud-Officer --skip_slack
---
name: Build
'on':
  pull_request:
    types:
    - opened
    - edited
    - reopened
    - synchronize
  push:
    branches:
    - master
    - "[0-9]*"
    - dependabot/**
    tags:
    - "**"
permissions:
  contents: read
  pull-requests: read
env:
  RUBY-BUNDLER-CACHE: 'false'
  RUBY-VERSION: 4.0.0
  XCODE-VERSION: 16.4.0
jobs:
  variables:
    name: Prepare Variables
    runs-on: ubuntu-latest
    outputs:
      BUILD_NAME: "${{steps.variables.outputs.BUILD_NAME}}"
      BUILD_VERSION: "${{steps.variables.outputs.BUILD_VERSION}}"
      COMMIT_MESSAGE: "${{steps.variables.outputs.COMMIT_MESSAGE}}"
      MODIFIED_GITHUB_RUN_NUMBER: "${{steps.variables.outputs.MODIFIED_GITHUB_RUN_NUMBER}}"
      DEPLOY_ON_BETA: "${{steps.variables.outputs.DEPLOY_ON_BETA}}"
      DEPLOY_ON_RC: "${{steps.variables.outputs.DEPLOY_ON_RC}}"
      DEPLOY_ON_PROD: "${{steps.variables.outputs.DEPLOY_ON_PROD}}"
      DEPLOY_MACOS: "${{steps.variables.outputs.DEPLOY_MACOS}}"
      DEPLOY_TVOS: "${{steps.variables.outputs.DEPLOY_TVOS}}"
      DEPLOY_OPTIONS: "${{steps.variables.outputs.DEPLOY_OPTIONS}}"
      SKIP_LICENSES: "${{steps.variables.outputs.SKIP_LICENSES}}"
      SKIP_LINTERS: "${{steps.variables.outputs.SKIP_LINTERS}}"
      SKIP_TESTS: "${{steps.variables.outputs.SKIP_TESTS}}"
      UPDATE_PACKAGES: "${{steps.variables.outputs.UPDATE_PACKAGES}}"
      LINTERS: "${{steps.variables.outputs.LINTERS}}"
    timeout-minutes: 30
    steps:
    - name: Prepare variables
      id: variables
      uses: cloud-officer/ci-actions/variables@v2
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  actionlint:
    name: Github Actions Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Actionlint
      id: actionlint
      uses: cloud-officer/ci-actions/linters/actionlint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  hadolint:
    name: Docker Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Hadolint
      uses: cloud-officer/ci-actions/linters/hadolint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  markdownlint:
    name: Markdown Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Markdownlint
      id: markdownlint
      uses: cloud-officer/ci-actions/linters/markdownlint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  semgrep:
    name: Semgrep Security Scanner
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Semgrep
      uses: cloud-officer/ci-actions/linters/semgrep@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  rubocop:
    name: Ruby Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Rubocop
      id: rubocop
      uses: cloud-officer/ci-actions/linters/rubocop@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  yamllint:
    name: YAML Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Yamllint
      id: yamllint
      uses: cloud-officer/ci-actions/linters/yamllint@v2
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
  licenses:
    name: Licenses Check
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LICENSES != '1'}}"
    timeout-minutes: 30
    steps:
    - name: Licenses
      uses: cloud-officer/ci-actions/soup@v2
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
        parameters: "--no_prompt --soup"
  ruby_unit_tests:
    name: Ruby Unit Tests
    runs-on: "${{ matrix.os }}"
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_TESTS != '1'}}"
    timeout-minutes: 30
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
    - name: Setup
      id: setup
      uses: cloud-officer/ci-actions/setup@v2
      if: "${{needs.variables.outputs.SKIP_LICENSES != '1' || needs.variables.outputs.SKIP_TESTS != '1'}}"
      with:
        ruby-version: "${{env.RUBY-VERSION}}"
        ruby-bundler-cache: "${{env.RUBY-BUNDLER-CACHE}}"
        xcode-version: "${{env.XCODE-VERSION}}"
        github-token: "${{secrets.GH_PAT}}"
    - name: Bundler
      shell: bash
      if: "${{needs.variables.outputs.SKIP_LICENSES != '1' || needs.variables.outputs.SKIP_TESTS != '1'}}"
      run: |
        bundle config unset deployment
        bundle install
      env:
        GITHUB_TOKEN: "${{secrets.GH_PAT}}"
    - name: RSpec
      shell: bash
      if: "${{needs.variables.outputs.SKIP_TESTS != '1'}}"
      run: |
        ./bin/soup.rb --soup
        pushd tests
        mv _composer.json composer.json
        mv _composer.lock composer.lock
        mv _package.json package.json
        mv _requirements._txt requirements.txt
        mv _yarn.lock yarn.lock
        ../bin/soup.rb
        popd
      env:
        GITHUB_TOKEN: "${{secrets.GH_PAT}}"
