---
name: Cron Dependencies
'on':
  schedule:
  - cron: 0 9 * * 1
env:
  RUBY-BUNDLER-CACHE: 'false'
  RUBY-VERSION: 4.0.0
  XCODE-VERSION: 16.4.0
jobs:
  update_dependencies:
    name: Update Dependencies
    permissions:
      actions: write
      checks: write
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Setup
      id: setup
      uses: cloud-officer/ci-actions/setup@v2
      with:
        ruby-version: "${{env.RUBY-VERSION}}"
        ruby-bundler-cache: "${{env.RUBY-BUNDLER-CACHE}}"
        xcode-version: "${{env.XCODE-VERSION}}"
        github-token: "${{secrets.GH_PAT}}"
    - name: Update Dependencies
      shell: bash
      run: |
        git config --global --add url."https://${{secrets.GH_PAT}}:x-oauth-basic@github.com/".insteadOf ssh://git@github.com:
        git config --global --add url."https://${{secrets.GH_PAT}}:x-oauth-basic@github.com/".insteadOf https://github.com/
        git config --global --add url."https://${{secrets.GH_PAT}}:x-oauth-basic@github.com/".insteadOf git@github.com:

        bundle config set frozen false ; bundle update
    - name: Licenses
      uses: cloud-officer/ci-actions/soup@v2
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GH_PAT}}"
        parameters: "--no_prompt --soup"
        skip-checkout: 'true'
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: Update dependencies and soup files
        branch: update-dependencies-${{github.run_id}}
        title: Update Dependencies
        body: This PR updates the dependencies.
        token: "${{secrets.GH_PAT}}"
