---
name: Publish Docker image
'on':
  push:
    tags:
    - "**"
jobs:
  push_to_registry:
    name: Push Docker Image to Docker Hub
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Publish Docker image
      uses: cloud-officer/ci-actions/docker@v2
      with:
        username: "${{secrets.DOCKER_USERNAME}}"
        password: "${{secrets.DOCKER_PASSWORD}}"
